<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detailed Stats</title>
</head>
<body>
    <h1>Detailed Statistics for {{ surl }}</h1>
    <p>Total Visitors: {{ visitors }}</p>
    <ul>
        {% for ip, count in data[surl]['vis'].items() %}
            <li>{{ ip }}: {{ count }} visits</li>
        {% endfor %}
    </ul>

    <h2>Other Options</h2>
    <ul>
        <li><a href="{{ url_for('forms') }}">Shorten URL</a></li>
        <li><a href="{{ url_for('upload') }}">Upload File</a></li>
        <li><a href="{{ url_for('get_count') }}">View Statistics</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
    </ul>
</body>
</html>
