<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show File</title>
</head>
<body>
    {% if path == -1 %}
        <h1>File not found!</h1>
    {% else %}
        {% if image %}
            <img src="/{{ path }}" alt="File" style="max-width:100%;">
        {% else %}
            <a href="/{{ path }}" download>Download the file</a>
        {% endif %}
    {% endif %}

    <h2>Other Options</h2>
    <ul>
        <li><a href="{{ url_for('forms') }}">Shorten URL</a></li>
        <li><a href="{{ url_for('get_count') }}">View Stats</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
    </ul>
</body>
</html>
